#contentContainer {
    border: 3px solid #00badb;
    border-radius: 1.5em;
    margin: 1em auto;
    padding: 1em;
}

#menuHeader {
    margin-bottom: 2em;
}

.menuBackLink {
    color: #0000FF !important;
    background-color: rgb(209, 253, 255) !important;
}

.menuBackLink:hover {
    background-color: rgb(161, 250, 255) !important;
}

label {
    font-weight: bold;
}

.inputContainer {
    margin: 2em auto;
}

#deleteRecordForm {
    margin: 0.5em auto;
}

/* Used in deleted.blade.php */
#returnToEntityMenuBtn {
    margin: 1em auto;
}

/* Used on the logo edit view to see the uploaded image */
.logoUploadPreview {
    width: 8em;
    margin-bottom: 0.5em;
}



#logoSelector {
    border: 2px solid #37b6cc;
    background-color: #dddddd;
    padding: 0.5em;
    overflow-y: scroll;
    height: 25em;
    width: 12em;
}

#logoSelector img {
    margin: 0.5em auto;
    padding: 2px; /* To be replaced by a border on hover-over */
}

#logoSelector img:hover {
    padding: 0;
    border: 2px solid #ff5858;
    cursor: pointer;
}

#logoSelector img.selectedLogo {
    padding: 0;
    border: 2px solid #37b6cc;
}


#backToMenuBtn {
    margin-top: 1.5em;
}


#logoutBtnForm {
    float: right;
    margin: 1em 1em 0 1em;
}


.customMessageList {
    margin: 1em 0.5em;
}

.customMessageList li {
    margin: 0.5em;
}