header {
    margin-top: 6%;
}

/* project view */
#notFoundReturnBtn {
    margin: 1em 0;
}

#projectHeader, #projectListHeader {
    text-align: center;
    width: 75%;
}

#projectHeader img {
    width: 5em;
}

#backToProjectMenuBtn {
    margin: 1em 0 3em 0;
}

.projectUrlLink {
    margin: 1.5em auto;
}

/* projectList view */
#projectListContainer .row {
    margin: 2em auto;
}

#projectListContainer img {
    width: 100%;
    margin: 1em auto;
}

#projectListContainer hr {
    border-top-color: #999999;
    margin: auto 3em;
}

#backToHomeBtn {
    margin: 0.1em 0 0.5em 0;
}

@media only screen and (max-width: 575px)
{
    /* Some project titles, when they're long and have no spaces,
        are going off the side of the screen. Restricted by the 
        row/column structure, so making the text smaller (which isn't
        detrimental to the design. */
    
    #projectHeader h1 {
        font-size: 1.75em;
    }
    
    #projectListContainer h3 {
        font-size: 1.5em;
    }
}